---
---

/*
== Reset
== https://alligator.io/css/minimal-css-reset/
*/

html {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}


/*
== Main
*/

html {
    font-size: 16px;
}

body {
    padding-bottom: 3rem;
    background: #fbfbfb;
    font-family: futura-pt, Futura, sans-serif;
    color: #05434C;
}

a {
    color: #05434C;
    text-decoration: none;
}

h2 {
    margin-bottom: 1.5rem;
    margin-left: -0.75rem;
    font-family: futura-pt-bold, Futura, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.5rem;
    border-left: 1.5rem solid transparent;
    line-height: 1.5rem;
    text-indent: -0.75rem;
}

.top {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 1rem 0;
    border-bottom: 2px solid #63EFC1;
    background: #fbfbfb;
    z-index: 1000;
}

.top header {
    h1 {
        margin-right: 3.5rem;
        background: url("/assets/img/logo.png") no-repeat left;
        background-size: contain;
        height: 1rem;

        span {
            visibility: hidden;
        }
    }
}

nav {
    white-space: nowrap;
}

nav .toggle {
    display: block;
    width: 1.6rem;
    height: 1.1rem;
    position: absolute;
    top: 50%;
    margin-top: -0.6rem;
    right: 1.5rem;
    z-index: 50;
    margin-left: auto;
    margin-right: 0;
    background: #f4f4f4;
}

nav .toggle label {
    display: none;
}

nav .toggle span {
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    border-top: 2px solid;
    border-bottom: 2px solid;
}
nav .toggle span::after {
    display: block;
    position: absolute;
    top: 0.5rem;
    margin-top: -2px;
    border-top: 2px solid;
    width: 100%;
    content: " ";
}


nav .background {
    position: fixed;
    top: calc(3rem + 2px);
    left: 0;
    height: 100vh;
    width: 100vw;
    background: #f4f4f4;
    transition: opacity 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    opacity: 0;
    z-index: 5;
    pointer-events: none;
}


nav .menu {
    position: fixed;
    top: 50%;
    margin-top: -4.5rem;
    left: 0;
    width: 100%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    z-index: 20;
    padding-right: 1.5rem;
    font-size: 1em;
    font-family: futura-pt-bold, Futura, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: lowercase;
}

nav .menu ul {
    position: relative;
    padding-left: 2.5rem;
}

nav .menu a {
    display: block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #05434C;
}

nav .menu a svg {
    width: 1rem;
    height: 1rem;
    margin-left: 0.5rem;
    vertical-align: bottom;
}

nav .menu a:hover {
    color: #05434C;
}

html.menu-visible {
    position: relative;
    overflow: hidden;
}

body.menu-visible {
    position: relative;
    overflow: hidden;
}

nav.visible .background {
    opacity: 1;
    pointer-events: auto;
}

nav.visible .menu {
    transform: none;
}

.container {
    padding: 0 1.5rem;
}

#hero,
#portfolio,
#about-me,
#contact,
#portfolio-item {
    padding-top: 4.5rem;
}

#hero {
    font-family: futura-pt-bold, Futura, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    line-height: 1em;

    img {
        display: block;
        width: 100%;
    }

    p {
        margin-top: 1rem;
    }

    span {
        display: block;
        font-size: 1rem;
        line-height: 1em;
    }
}

#portfolio h2 {
    border-color: #FACFBB;
}

.gallery {
    li + li {
        position: relative;
        margin-top: 1.5rem;
    }

    img {
        display: block;
    }

    .stack {
        display: block;
        visibility: visible;
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        width: 1rem;
        height: 1rem;
    }
}

#about-me {
    h2 {
        border-color: #63EFC1;
    }

    .quote {
        position: relative;
        border-top: 0.125rem solid #63EFC1;
        margin-left: -0.75rem;
        padding-left: 2.125rem;
        border-left: 0.125rem solid #63EFC1;
        margin-right: 3.5rem;
        text-align: justify;

        > div {
            margin-top: -0.8rem;
            padding-top: 0.8rem;
            margin-right: -3.5rem;
            padding-top: 2.3rem;
            background: url("/assets/img/quote.png") no-repeat top right;
            background-size: 2rem;
        }
    }

    .hi {
        font-size: 1.5rem;
        font-family: futura-pt-bold, Futura, sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    p {
        line-height: 135%;
    }

    p + p {
        margin-top: 1.5rem;
    }

    .icons {
        margin-top: 3rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 16rem;
        display: flex;

        li {
            margin: 0 1em;
            flex-grow: 1;
        }

        img {
            display: block;
            margin: 0 auto;
            width: 3rem;
        }
    }

}

#contact {
    h2 {
        border-color: #ff6b92;
    }

    .email a {
        display: block;
        padding: 0.75rem 1.5rem;
        border: 2px solid #63EFC1;
        font-family: futura-pt-bold, Futura, sans-serif;
        font-weight: 700;
        text-align: center;
        text-decoration: underline;
    }

    img {
        display: block;
        margin: 1.5rem auto;
        max-width: 8rem;
    }

    .cta {
        font-family: futura-pt-bold, Futura, sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 2rem;
        line-height: 1em;

        span {
            display: block;
            font-size: 1rem;
            line-height: 1em;
        }
    }
}

#portfolio-item {
    .images {
        li + li {
            margin-top: 5rem;
        }

        .image {
            position: relative;
        }

        .image.corner:after {
            z-index: 100;
            position: absolute;
            width: 3rem;
            height: 3rem;
            display: block;
            content: " ";
        }

        .image.corner-turquoise:after {
            background: #63EFC1;
        }

        .image.corner-bottom:after {
            bottom: -1.5rem;
            right: -1.5rem;
        }

        img {
            position: relative;
            display: block;
            z-index: 105;
        }

        video {
            display: block;
            width: 100%;
        }

        &.app img,
        &.app video {
            border-radius: 1.5vw;
            overflow: hidden;
            box-shadow: 0 30px 50px -20px rgba(0, 0, 0, 0.3);
        }

        .with-overlay {
            position: relative;
            margin-right: 15%;
        }

        .overlay {
            width: 20%;
            margin-top: -30%;
            margin-left: auto;
            margin-right: -15%;

            img,
            video {
                border-radius: 0.75vw;
            }
        }
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 960px;
        margin: 0 auto;
    }

    .top .container {
        display: flex;
        justify-content: space-between;
    }

    nav {
        .toggle {
            display: none;
        }

        .menu {
            position: static;
            transform: none;
            margin-top: 0;
            padding-right: 0;
            font-size: 1rem;
            transition: none;

            ul {
                display: flex;
                justify-content: space-between;
                padding: 0;
            }

            a {
                padding: 0;
                margin-left: 3rem;
            }

            .instagram svg {
                margin: 0;
            }

            .instagram span {
                display: none;
            }
        }
    }

    #hero {
        font-size: 3rem;

        p {
            span {
                font-size: 1.5rem;
                line-height: 1em;
            }
        }
    }

    #about-me {
        .quote {
            margin-right: 0;
            padding-left: 0;
            border-top: none;
            border-left: 0.5rem solid #63EFC1;
            border-bottom: 0.5rem solid #63EFC1;

            > div {
                margin-top: 0;
                margin-right: 0;
                padding: 2rem;
                display: flex;
                background-size: 3rem;
            }

            .icons {
                flex-direction: column;
                justify-content: space-between;
                min-width: 6em;
                margin-left: 5rem;
                margin-right: 2rem;

                li {
                    margin: 0;
                    flex-grow: 0;
                }

                img {
                    width: 6rem;
                    height: 6rem;
                }
            }
        }
    }

    #portfolio-item {
        margin-top: 1.5rem;

        .images {
            &.half-width {
                margin: 0 auto;
                width: 50%;
            }
        }
    }

}

@media (min-width: 768px), (orientation: landscape) {
    #hero {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;

        p {
            margin: 0;
        }

        img {
            width: 60%;
        }

    }

    .gallery {
        ul {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-row-gap: 1.5rem;
            grid-column-gap: 1.5rem;
            grid-auto-flow: dense;
        }

        li + li {
            margin: 0;
        }

        li.featured {
            grid-row: span 2;
            grid-column: span 2;
        }

        a {
            position: relative;
            display: block;
            height: 100%;
            padding-top: 100%;
            background-size: cover;
            background-position: center;
        }

        img {
            display: none;
        }
    }

    #contact {
        > div {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .cta {
            margin-right: 5rem;
        }

        .email {
            display: flex;
            justify-content: center;

            a {
                padding-left: 3rem;
                padding-right: 3rem;
            }
        }
    }
}
