---
layout: home
permalink: /
---

<div class="container">
    <div id="hero">
        <img src="/assets/img/hero.png" alt="" width="2612" height="2501" />

        <p>Challenge? <span>Yes, please.</span></p>
    </div>

    <div id="portfolio">
        <h2>Portfolio</h2>
    </div>

    <div class="gallery">
        <ul>
            {% for item in site.portfolio %}
            <li {% if item.featured %}class="featured"{% endif %}>
                <a href="{{ item.url }}" style="background-image: url('/assets/portfolio/{{ item.main_img }}');">
                    <img src="/assets/portfolio/{{ item.main_img }}" />
                    {% if item.stack %}
                    <img src="/assets/img/stack-{{ item.stack_color }}.png" alt="Multiple items" class="stack" />
                    {% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div id="afterhours">
        <h2>Afterhours</h2>
    </div>

    <div class="gallery">
        <ul>
            {% for item in site.afterhours %}
            <li {% if item.featured %}class="featured"{% endif %}>
                <a href="{{ item.url }}" style="background-image: url('/assets/portfolio/{{ item.main_img }}');">
                    <img src="/assets/portfolio/{{ item.main_img }}" />
                    {% if item.stack %}
                    <img src="/assets/img/stack-{{ item.stack_color }}.png" alt="Multiple items" class="stack" />
                    {% endif %}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>


    <div id="about-me">
        <h2>About me</h2>

        <div class="quote">
            <div>
                <div class="text">
                    <p class="hi">Hi! I'm Gosia</p>

                    <p>More often than not I’m an observer - I look cautiously at the world around me, constantly searching for inspiration. My adventure with visual arts began when I was still a kid when the first computer appeared at home.</p>
                    <p>My drive to create led me to an art school. Out of all my interests - from making movies, through drawing and painting to music production - I picked computer graphics and illustration as my career path.</p>
                    <p>Communication is definitely one of the most important aspects of my work. When working with me you can expect my full commitment towards understanding the complete picture as I believe it’s a necessary foundation of satisfying and fruitful collaboration. This way I can draw from my creativity in order to help you accomplish your goal instead of just blindly following a set of instructions.</p>
                    <p>I’m a sensitive person, but also a positive one. I always try to put a smile on another person’s face and because of that I pour all my heart into every project and make sure there’s a little bit of me in every finished piece.</p>
                </div>

                <ul class="icons">
                    <li><img src="/assets/img/pencils.png" width="100" height="100" alt="" /></li>
                    <li><img src="/assets/img/camera.png" width="100" height="100" alt="" /></li>
                    <li><img src="/assets/img/pointer.png" width="100" height="100" alt="" /></li>
                </ul>
        </div>
    </div>

    <div id="contact">
        <h2>Contact</h2>
        <div>
            <p class="cta">Go ahead,<span>let's do something nice together!</span></p>
            <div>
                <img src="/assets/img/contact.png" alt="" />
                <p class="email"><a href="mailto:gosia@koszmider.com">gosia@koszmider.com</a></p>
            </div>
        </div>
    </div>
</div>


<!DOCTYPE html>
<html>
<body>

    <script>
        // Function to change the background color and text color on scroll
        function changeColorsOnScroll() {
            const scrollPosition = window.scrollY; // Get the current vertical scroll position
            
            // Calculate the color transition based on the scroll position
            let bgColor, emailColor, textColor;

            // Check if it's a mobile device (max-width 768px)
            if (window.innerWidth <= 768) {
                bgColor = scrollPosition > 8000 ? '#011012' : '#FBFBFB'; // Background color for mobile
                textColor = scrollPosition > 8000 ? '#fff' : '#05434C'; // Text color for mobile
            } else {
                bgColor = scrollPosition > 1800 ? '#011012' : '#FBFBFB'; // Background color for desktop
                textColor = scrollPosition > 1800 ? '#fff' : '#05434C'; // Text color for desktop
                emailColor = scrollPosition > 1800 ? '#fff' : '#05434C'; // Text color for desktop
            }

            // Apply the colors to the body
            document.body.style.backgroundColor = bgColor;
            document.body.style.color = textColor;
        }

        // Attach the function to the 'scroll' event of the window
        window.addEventListener('scroll', changeColorsOnScroll);
    </script>
</body>
</html>

