<div class="top">
    <header>
        <a href="{{ site.baseurl }}/">
            <h1 class="title"><span>Gosia Koszmider – Graphic designer</span></h1>
        </a>
    </header>

    <nav id="nav">
        <a class="toggle">
            <label>Navigation</label>
            <span></span>
        </a>
        <div class="background"></div>
        <div class="menu">
            <ul>
                <li><a href="#hero">Home</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#about-me">About me</a></li>
                <li class="email"><a href="mailto:gosia@koszmider.com">gosia@koszmider.com</a></li>
            </ul>
        </div>
    </nav>
</div>
