---
layout: default
---

{% assign filename = page.path | split: "/" | last %}
{% assign directory = page.path | remove: filename %}

<div class="container">
    <div id="portfolio-item">
        <ul class="images {% if page.half_width %}half-width{% endif %}">
            {% for img in page.images %}
                {% assign id = img | split: "." | first | slugify %}

                <li class="image {% if page.corner_position %}corner corner-{{ page.corner_position}} corner-{{ page.corner_color }}{% endif %}" id="{{ id }}">
                    <img src="/assets/portfolio/{{ img }}" alt="{{ page.title }}" />
                </li>
            {% endfor %}
        </ul>

        {{ content }}
    </div>
</div>
