---
layout: default
---

{% assign filename = page.path | split: "/" | last %}
{% assign directory = page.path | remove: filename %}

<div class="narrow">
    <div class="content portfolio-item">
        {% if false and page.images.size > 1 %}
        <div class="gallery item-gallery">
            <ul>
                {% for img in page.images %}
                {% assign id = img | split: "." | first | slugify %}

                    <li>
                        <a href="#{{ id }}" style="background-image: url(/assets/portfolio/{{ img }});">
                            <img src="/assets/portfolio/{{ img }}" alt="{{ page.title }}" />
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <ul class="images">
            {% for img in page.images %}
                {% assign id = img | split: "." | first | slugify %}

                <li class="image" id="{{ id }}">
                    <a href="/assets/portfolio/{{ img }}">
                        <img src="/assets/portfolio/{{ img }}" alt="{{ page.title }}" />
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
